Importing necessary packages.

In [1]:
import pydst
Dst = pydst.Dst(lang='en')
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import ipywidgets as widgets

Importing table NKN1 from Statistics Denmark.

In [2]:
Dst.get_data(table_id = 'NKN1')

,TRANSAKT,PRISENHED,SÆSON,TID,INDHOLD
0,B.1*g Gross domestic product,"Current prices, (bill. DKK.)",Non-seasonally adjusted,1990Q1,210.2

Exploring NKN1.

In [3]:
Dst.get_variables(table_id = 'NKN1')

,elimination,id,text,time,values
0,False,TRANSAKT,transaction,False,"[{'id': 'B1GQK', 'text': 'B.1*g Gross domestic..."
1,False,PRISENHED,price unit,False,"[{'id': 'V_M', 'text': 'Current prices, (bill...."
2,False,SÆSON,seasonal adjustment,False,"[{'id': 'N', 'text': 'Non-seasonally adjusted'..."
3,False,Tid,time,True,"[{'id': '1990K1', 'text': '1990Q1'}, {'id': '1..."

Extracting seasonally adjusted GDP in chained 2010-prices (bill. DKK) for the period 1990Q1 - 2018Q3.

In [ ]:
df = Dst.get_data(table_id = 'NKN1', variables = {'TRANSAKT':['B1GQK'],'PRISENHED':['LKV_M'],'SÆSON':['Y'],'TID':['*']})
df

Removing the first four (empty) rows.

In [5]:
df[4:]

,TRANSAKT,PRISENHED,SÆSON,TID,INDHOLD
4,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1991Q1,326.6
5,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1991Q2,325.4
6,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1991Q3,329.5
7,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1991Q4,325.2
8,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1992Q1,331.1
9,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1992Q2,329.1
10,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1992Q3,337.3
11,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1992Q4,334.7
12,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1993Q1,332.0
13,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1993Q2,330.3
14,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1993Q3,333.8
15,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1993Q4,336.1
16,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1994Q1,343.9
17,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1994Q2,349.8
18,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1994Q3,351.8
19,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1994Q4,357.8
20,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1995Q1,360.8
21,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1995Q2,359.8
22,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1995Q3,361.3
23,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1995Q4,363.9
24,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1996Q1,364.0
25,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1996Q2,373.8
26,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1996Q3,374.9
27,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1996Q4,375.0
28,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1997Q1,379.7
29,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1997Q2,386.3
30,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1997Q3,385.2
31,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1997Q4,385.1
32,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1998Q1,390.9
33,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,1998Q2,388.0
...,...,...,...,...,...
86,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2011Q3,456.1
87,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2011Q4,459.9
88,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2012Q1,459.5
89,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2012Q2,459.9
90,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2012Q3,460.3
91,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2012Q4,459.6
92,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2013Q1,462.2
93,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2013Q2,462.5
94,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2013Q3,465.4
95,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2013Q4,466.4
96,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2014Q2,467.2
97,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2014Q3,475.0
98,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2014Q4,476.7
99,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2015Q1,480.0
100,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2015Q2,482.2
101,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2015Q3,483.7
102,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2014Q1,467.5
103,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2018Q4,517.8
104,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2015Q4,484.8
105,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2016Q1,487.3
106,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2016Q2,494.4
107,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2016Q3,495.6
108,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2016Q4,499.8
109,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2017Q1,511.4
110,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2017Q2,505.3
111,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2017Q3,500.5
112,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2017Q4,504.6
113,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2018Q1,508.1
114,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2018Q2,511.2
115,B.1*g Gross domestic product,"2010-prices, chained values, (bill. DKK.)",Seasonally adjusted,2018Q3,513.5

Removing redundant variables.

In [6]:
df1 = df.drop('TRANSAKT',1)
df2 = df1.drop('PRISENHED',1)
df3 = df2.drop('SÆSON',1)
df3

        TID INDHOLD
0    1990Q1      ..
1    1990Q2      ..
2    1990Q3      ..
3    1990Q4      ..
4    1991Q1   326.6
5    1991Q2   325.4
6    1991Q3   329.5
7    1991Q4   325.2
8    1992Q1   331.1
9    1992Q2   329.1
10   1992Q3   337.3
11   1992Q4   334.7
12   1993Q1   332.0
13   1993Q2   330.3
14   1993Q3   333.8
15   1993Q4   336.1
16   1994Q1   343.9
17   1994Q2   349.8
18   1994Q3   351.8
19   1994Q4   357.8
20   1995Q1   360.8
21   1995Q2   359.8
22   1995Q3   361.3
23   1995Q4   363.9
24   1996Q1   364.0
25   1996Q2   373.8
26   1996Q3   374.9
27   1996Q4   375.0
28   1997Q1   379.7
29   1997Q2   386.3
..      ...     ...
86   2011Q3   456.1
87   2011Q4   459.9
88   2012Q1   459.5
89   2012Q2   459.9
90   2012Q3   460.3
91   2012Q4   459.6
92   2013Q1   462.2
93   2013Q2   462.5
94   2013Q3   465.4
95   2013Q4   466.4
96   2014Q2   467.2
97   2014Q3   475.0
98   2014Q4   476.7
99   2015Q1   480.0
100  2015Q2   482.2
101  2015Q3   483.7
102  2014Q1   467.5
103  2018Q4   517.8
104  2015Q4   484.8
105  2016Q1   487.3
106  2016Q2   494.4
107  2016Q3   495.6
108  2016Q4   499.8
109  2017Q1   511.4
110  2017Q2   505.3
111  2017Q3   500.5
112  2017Q4   504.6
113  2018Q1   508.1
114  2018Q2   511.2
115  2018Q3   513.5

[116 rows x 2 columns]

Extracting time and GDP.

In [8]:
time = df3['TID']
gdp  = df3['INDHOLD']


gdp.replace('..',np.nan, inplace=True)
gdp.dropna(inplace=True)
gdp1 = gdp.iloc[:].astype(float)

Creating interactive graph, where X equals the amount of (moving) averaged quarters.

In [9]:
def RollingMean(X):
    plt.figure(figsize=(14,7))
    plt.locator_params(which='x', tight=True, nbins=10)
    plt.xlabel('Year and quarter', size=18)
    plt.ylabel('GDP', size=18)
    plt.plot(time[4:],gdp1.rolling(window=X, center=True).mean(), label='GDP, moving average (X periods)')
    plt.plot(time[4:], gdp1, label='GDP, observed')
    plt.title('GDP - Observed and Moving Average', size=25)
    plt.legend(loc='upper left')
    plt.xticks(time[4:], rotation='vertical')
    plt.locator_params(axis='x', nbins=len(time[4:])/2)

widgets.interact(RollingMean, X=widgets.IntSlider(min=0,max=12,step=1,value=6))

interactive(children=(IntSlider(value=6, description='X', max=12), Output()), _dom_classes=('widget-interact',…

Creating table of average GDP for an X amount of quarters.

In [ ]:
bnp1.rolling(X, center=True).mean()